/* You can add global styles to this file, and also import other style files */

@import '../../../packages/template/src/styles/index.scss';

.dg-home {
    .dg-hero {
        .dg-hero-launch {
            align-items: start;
            padding-left: 18%;
            text-align: unset;
            .dg-launch-title {
                color: #1e3042;
            }
        }
    }
}
