/* You can add global styles to this file, and also import other style files */

$primary: #3f51b5;
@import '../../../packages/template/src/styles/index.scss';
.dg-home {
    .dg-hero {
        .dg-hero-launch {
            align-items: start;
            padding-left: 20%;
            text-align: unset;
        }
    }
}
