@use '../../styles/variables';

.dg-tabs-host {
    display: block;
    margin: 16px 0;
}

.dg-tabs {
    overflow: hidden;

    &.dg-tabs-mode-simple {
        .dg-tab-links {
            .dg-tab-link {
                padding: 8px 24px;
            }
        }
        .dg-tab-panels {
            background: variables.$dg-bg-color;
            padding: 16px 0px;
        }
    }

    &.dg-tabs-mode-code-group {
        border: 1px solid variables.$dg-border-color;
        border-radius: variables.$dg-border-radius;
        // background: variables.$dg-gray-100;

        .dg-tab-links {
            border-color: variables.$dg-border-color;
            padding: 0 10px;
        }
    }

    .dg-tab-panels {
        font-size: variables.$dg-font-size-md;
        line-height: 26px;

        .dg-tab-panel {
            display: none;

            &.active {
                display: block;
            }

            pre {
                margin: 0px;
            }
        }
    }
}
