@import '../../styles/variables.scss';

.dg-home {
    display: block;

    .dg-launch {
        background: $launch-background;
        text-align: center;
        padding-top: 100px;
        h1 {
            color: $black;
        }
        .launch-description {
            margin-bottom: 20px;
        }
    }

    .dg-features {
        padding: 10px 60px;
        display: flex;
        .feature {
            flex: 1 1 0;
            text-align: center;
        }
    }

    @media (min-width: 768px) {
        .dg-launch {
            padding: 100px 0px;
        }
    }
}
