.dg-locales-selector {
    position: relative;

    .locales-container {
        background-color: transparent;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100px;
    }

    .locales-menu {
        width: 100%;
        margin-top: 8px;
        padding: 8px 0;
        background-color: $dg-gray-10;
        border-radius: 4px;
        border: 1px solid $dg-gray-200;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        .locale {
            cursor: pointer;
            font-size: $dg-font-size-base;
            padding: 0 8px;
            line-height: 36px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
                background-color: $dg-gray-80;
            }
            &.active {
                color: $dg-primary;
                background-color: #6698ff1a;
            }
        }
    }
}

@mixin dg-locales-selector-theme($color, $hover-color) {
    .dg-locales-selector {
        select {
            color: $color;
        }
        .dg-selector-arrow {
            border-color: $color;
        }
        &:hover {
            select {
                color: $hover-color;
            }
            .dg-selector-arrow {
                border-color: $hover-color;
            }
        }
    }
}

.dg-theme-default {
    @include dg-locales-selector-theme(inherit, rgba($color: $dg-body-color, $alpha: 0.8));
}

.dg-theme-angular {
    @include dg-locales-selector-theme($dg-white, rgba($color: $dg-white, $alpha: 0.8));
}
