.dg-example-viewer {
    display: block;
    border: 1px solid $border-color;
    padding: 10px;
}

.dg-examples {
    .dg-example-viewer {
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
