@use '../../styles/variables';

.dg-footer {
    display: block;
    padding: 20px;
    border-top: 1px solid variables.$dg-gray-200;
    text-align: center;
    color: variables.$dg-gray-600;
    a {
        color: variables.$dg-gray-600;
        text-decoration: none;
        &:hover {
            color: variables.$dg-gray-700;
            text-decoration: none;
        }
    }

    .beian {
        margin-top: 5px;
    }
    .beian-public-security {
        margin-left: 5px;
        img {
            vertical-align: -4px;
        }
    }
}
