.dg-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
    display: flex;
    align-items: center;
    background-color: $navbar-background;
    color: $navbar-color;
    box-shadow: $navbar-box-shadow;
    justify-content: space-between;
    font-size: $font-size-md;

    .spacer {
        flex: 1;
    }

    .title {
        font-weight: 600;
        color: $white;
    }

    .nav {
        margin-left: 20px;
        a {
            color: $white;
            padding: 6px 18px;
            margin-right: 8px;

            &:hover {
                color: rgba($color: $white, $alpha: 0.8) // $gray-200;
            }

            &.active {
                background: hsla(0, 0%, 100%, 0.15);
                border-radius: 4px;
            }
        }
    }

    img {
        margin: 0 16px;
    }

    #twitter-logo {
        height: 40px;
        margin: 0 16px;
    }

    #twitter-logo:hover {
        opacity: 0.8;
    }
}
