@use 'mixins/box-shadow';
@use 'mixins/button';
@use 'variables';

.dg-btn {
    display: inline-block;
    color: variables.$dg-white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: variables.$dg-btn-border-width solid transparent;
    @include button.dg-button-size(
        variables.$dg-btn-padding-y,
        variables.$dg-btn-padding-x,
        variables.$dg-btn-font-size,
        variables.$dg-btn-line-height,
        variables.$dg-btn-border-radius
    );

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: variables.$dg-btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: variables.$dg-btn-disabled-opacity;
        @include box-shadow.dg-box-shadow(none);
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

// Alternate buttons
@each $color, $value in variables.$dg-theme-colors {
    .dg-btn.dg-btn-outline-#{$color} {
        @include button.dg-button-outline-variant($value, $value, $value);
    }
    .dg-btn.dg-btn-#{$color} {
        @include button.dg-button-variant($value, $value);
        &:hover {
            box-shadow: 0 2px 5px 1px rgba($value, 0.6);
        }
    }
}

.dg-btn-xsm {
    @include button.dg-button-size(
        variables.$dg-btn-padding-y-xsm,
        variables.$dg-btn-padding-x-xsm,
        variables.$dg-btn-font-size-xsm,
        variables.$dg-btn-line-height-xsm,
        variables.$dg-btn-border-radius-xsm
    );
    .dg-icon {
        font-size: variables.$dg-btn-font-size-xsm;
    }
}

.dg-btn-sm {
    @include button.dg-button-size(
        variables.$dg-btn-padding-y-sm,
        variables.$dg-btn-padding-x-sm,
        variables.$dg-btn-font-size-sm,
        variables.$dg-btn-line-height-sm,
        variables.$dg-btn-border-radius-sm
    );
    .dg-icon {
        font-size: variables.$dg-btn-font-size-sm;
    }
}

.dg-btn-md {
    @include button.dg-button-size(
        variables.$dg-btn-padding-y-md,
        variables.$dg-btn-padding-x-md,
        variables.$dg-btn-font-size-md,
        variables.$dg-btn-line-height-md,
        variables.$dg-btn-border-radius-md
    );
    .dg-icon {
        font-size: variables.$dg-btn-font-size-md;
    }
}

.dg-btn-lg {
    @include button.dg-button-size(
        variables.$dg-btn-padding-y-lg,
        variables.$dg-btn-padding-x-lg,
        variables.$dg-btn-font-size-lg,
        variables.$dg-btn-line-height-lg,
        variables.$dg-btn-border-radius-lg
    );
    .dg-icon {
        font-size: variables.$dg-btn-font-size-lg;
    }
}

.dg-btn-xlg {
    @include button.dg-button-size(
        variables.$dg-btn-padding-y-xlg,
        variables.$dg-btn-padding-x-xlg,
        variables.$dg-btn-font-size-xlg,
        variables.$dg-btn-line-height-xlg,
        variables.$dg-btn-border-radius-xlg
    );
    .dg-icon {
        font-size: variables.$dg-btn-font-size-xlg;
    }
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
    &.dg-btn-block {
        width: 100%;
    }
}

.dg-btn.dg-btn-round {
    @include button.dg-button-radius-variant(8888px);
}
