$dg-heading-color: $dg-gray-800;
$dg-table-border-color: $dg-gray-200;
$dg-table-header-bg-color: $dg-gray-100;

$dg-directive-color: #d81b60;
$dg-component-color: #348fe4;

.dg-doc-viewer {
    display: block;

    .dg-doc-header {
        display: block;
        .title {
            font-size: $dg-font-size-xlg;
            font-weight: bold;
        }

        .subtitle {
            margin-left: 10px;
            font-size: $dg-font-size-xlg;
            color: $dg-gray-700;
        }
    }

    .dg-doc-viewer-inner {
        max-width: 78%;
    }

    .dg-component-viewer {
        display: block;

        .dg-component-empty {
            display: block;
            margin-top: 20px;
        }

        .dg-doc-header {
            margin-bottom: 10px;
        }

        .dg-component-api {
            .dg-api-header {
                display: flex;
                align-items: center;

                &:not(:first-child) {
                    margin-top: 20px;
                }

                .name {
                    font-size: $dg-font-size-lg;
                    font-weight: bold;
                }

                .type-label {
                    background-color: $dg-component-color;
                    font-weight: 500;
                    font-size: $dg-font-size-sm;
                    text-transform: uppercase;
                    margin-left: 8px;

                    &.directive {
                        background-color: $dg-directive-color;
                    }
                }
            }

            .dg-api-class-description {
                color: $dg-gray-700;
                margin: 6px 0px 10px 0px;
            }

            .dg-api-properties-table {
                margin-top: 20px;
                display: table;
                width: 100%;
                max-width: 100%;

                .dg-api-properties-header-row {
                    .dg-api-properties-name-th {
                        width: 100px;
                    }

                    .dg-api-properties-type-th {
                        width: 80px;
                    }

                    .dg-api-properties-default-th {
                        width: 100px;
                    }

                    .dg-api-properties-description-th {
                        width: auto;
                    }
                }

                .dg-api-properties-row {
                    .dg-api-properties-name-cell {
                        text-align: left;
                    }

                    .dg-api-properties-type-cell {
                        text-align: center;
                    }

                    .dg-api-properties-default-cell {
                        text-align: center;
                    }

                    .dg-api-property-description-cell {
                    }
                }
            }
        }

        .dg-toc {
            top: 180px
        }
    }
}

.dg-doc-content {
    display: block;
    padding: 20px 0px;
    font-size: 16px;
    // white-space: break-spaces;
    h1 {
        font-size: $dg-font-size-xlg;
        margin: 1rem 0;
        color: $dg-heading-color;
    }

    h2 {
        font-size: $dg-font-size-lg;
        margin: 1rem 0;
        color: $dg-heading-color;
    }

    h1:first-child,
    h2:first-child {
        margin-top: 0;
    }

    h3 {
        font-size: 14px;
        margin-bottom: 1rem;
    }

    ul,
    ol {
        margin: 10px 0 10px 32px;
        padding: 0;
        li {
            padding: 3px 0px;
        }
    }

    code {
        display: inline-block;
        padding: 0px 4px;
        margin: 0px 2px;
        background: $dg-gray-100;
        border-radius: $dg-border-radius;
        color: $dg-gray-800;
    }

    pre {
        padding: 1em;
        color: $dg-gray-700;
        background: $dg-gray-100;
        border-radius: $dg-border-radius;
        code {
            padding: 0px;
            // color: $body-color;
            background: transparent;
            font-size: $dg-font-size-base;
        }
    }

    p {
        // color: $gray-700;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 8px;
    }

    blockquote {
        margin-left: 0px;
        border-left: 2px solid $dg-gray-300;
        color: $dg-gray-600;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 10px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        overflow: auto;
        word-break: normal;
        word-break: keep-all;

        th,
        td {
            border: 1px solid $dg-table-border-color;
            padding: 8px;
        }

        th {
            background: $dg-table-header-bg-color;
            text-align: center;
        }

        td {
            vertical-align: middle;
        }
    }
}
