.algolia-autocomplete {
    .ds-dropdown-menu {
        border: none;
        box-shadow: 0 0 24px rgba($dg-black, 0.18);

        [class^='ds-dataset-'] {
            background: $dg-bg-color;
            border: none;
            .algolia-docsearch-suggestion {
                background: $dg-bg-color;
            }
        }

        &::before {
            display: none;
        }
    }

    .algolia-docsearch-suggestion--title {
        color: $dg-text-color;
    }

    .algolia-docsearch-suggestion--highlight {
        color: $dg-primary;
    }
    .page-wrapper-rtl & {
        direction: rtl !important;
    }

    .ds-dropdown-menu
        .ds-suggestion.ds-cursor
        .algolia-docsearch-suggestion:not(.suggestion-layout-simple)
        .algolia-docsearch-suggestion--content {
        background-color: rgba($dg-primary, 0.05);
    }
}
