// @use "sass:math";

// Color contrast
@function dg-color-yiq($color, $dark: $dg-yiq-text-dark, $light: $dg-yiq-text-light) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) * 0.001;
    // $yiq: math.div(($r * 299) + ($g * 587) + ($b * 114), 1000);

    @if ($yiq >= $dg-yiq-contrasted-threshold) {
        @return $dark;
    } @else {
        @return $light;
    }
}
