html,
body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

html {
    -webkit-text-size-adjust: 100%; // 4
    -ms-text-size-adjust: 100%; // 4
    -ms-overflow-style: scrollbar; // 5
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
}

body {
    font-family: $dg-font-family;
    font-size: $dg-font-size-base;
    color: $dg-body-color;
    background-color: $dg-bg-default;
    line-height: $dg-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

a,
a:visited,
a:hover {
    color: $dg-primary;
    text-decoration: $dg-link-hover-decoration;
}

.dg-hidden {
    visibility: hidden !important;
}

.dg-d-none {
    display: none !important;
}

.dg-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Avoid browsers rendering the focus ring in some cases.
    outline: 0;

    // Avoid some cases where the browser will still render the native controls (see #9049).
    -webkit-appearance: none;
    -moz-appearance: none;
}
