.dg-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $dg-navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
}

.dg-mode-lite {
    .dg-main {
        top: 0;
    }
    .dg-layout {
        .dg-sidebar {
            background: $dg-gray-100;
            top: 0;
        }
    }
    .dg-doc-viewer {
        flex: auto;
        padding: 30px 50px;
        max-height: 100vh;
        margin-left: 300px;
    }
}

.dg-footer {
    display: block;
    margin: 72px 0 -32px;
    padding-top: 24px;
    border-top: 1px solid #ebedf1;
    text-align: center;
}

.dg-layout {
    display: flex;
    flex-direction: row;
    flex: auto;
    height: 0;
    .dg-sidebar {
        flex: 0 0 auto;
        width: 300px;
        overflow: auto;
        padding-top: 20px;
        border-right: 1px solid $dg-gray-300;
        position: fixed;
        top: $dg-navbar-height;
        bottom: 0;
    }

    .content {
        flex: auto;
        padding: 30px 50px;
        // overflow: auto;
        max-height: 100vh;
        margin-left: 300px;
    }

    @include dg-media-breakpoint-down('md') {
        &.dg-sidebar-show {
            .dg-sidebar {
                display: block;
            }

            .content {
                margin-left: 300px;
            }
        }

        .dg-sidebar {
            display: none;
        }

        .content {
            margin-left: 0px;
            padding: 20px 15px;
        }
    }
}
