dg-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
}

dg-footer {
    display: block;
    margin: 72px 0 -32px;
    padding-top: 24px;
    border-top: 1px solid #ebedf1;
    text-align: center;
}

.dg-layout {
    display: flex;
    flex-direction: row;
    flex: auto;
    .sidebar {
        width: 300px;
        border-right: 1px solid $gray-300;
        flex: 0 0 auto;
    }

    .content {
        flex: auto;
        padding: 20px 20px;
    }
}
