.dg-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $dg-navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
}

.dg-mode-lite {
    .dg-main {
        top: 0;
    }
    .dg-layout {
        .dg-sidebar {
            background: $dg-gray-100;
            top: 0;
        }
    }
    .dg-doc-viewer {
        flex: auto;
        padding: 30px 50px;
        max-height: 100vh;
        margin-left: 300px;
    }
}

.dg-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    // height: 0;
    .dg-sidebar {
        flex: 0 0 auto;
        width: 300px;
        overflow: auto;
        padding-top: 20px;
        border-right: 1px solid $dg-gray-300;
        position: fixed;
        top: $dg-navbar-height;
        bottom: 0;
    }

    .content {
        flex: auto;
        padding: 30px 50px;
        // overflow: auto;
        max-height: 100vh;
        margin-left: 300px;
    }

    .content-backdrop {
        position: absolute;
        transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        background-color: transparent;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    @include dg-media-breakpoint-down('md') {
        &.dg-sidebar-show {
            .dg-sidebar {
                display: block;
                left: 0;
                z-index: 2;
            }

            .content-backdrop {
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 1;
            }
        }

        .dg-sidebar {
            transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            left: -300px;
            background: $dg-gray-100;
        }

        .content {
            margin-left: 0px;
            padding: 0;
        }

        .dg-doc-viewer {
            margin-left: 0px;
            padding: 20px 15px;
        }
    }
}
