@use 'variables';

.dg-tab-links {
    position: relative;
    display: flex;
    border-bottom: 1px solid variables.$dg-border-color;
    .dg-tab-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px 30px;
        margin-right: 20px;
        transform: translateY(1px);
        color: variables.$dg-gray-700;
        border-bottom: 2px solid transparent;
        font-weight: 500;
        &:hover,
        &.active {
            color: variables.$dg-primary;
            border-bottom: 2px solid variables.$dg-primary;
            text-decoration: none;
        }
    }
}
