.dg-menu {
    overflow-x: hidden;

    .menu-group {
        .group-header {
            .group-title {
                padding: $dg-sidebar-menu-item-space-y 30px;
                color: $dg-gray-600;
            }
        }
        .group-body {
            margin-left: $dg-sidebar-item-indent;
        }

        .menu-item {
            margin-left: $dg-sidebar-item-indent;
        }
    }

    .menu-item {
        padding: 0px $dg-sidebar-menu-item-space-x;
        display: block;
        a {
            color: $dg-gray-800;
        }

        &.active {
            border-right: 3px solid $dg-primary;
            .item-content {
                background: rgba($dg-primary, 0.1);
                color: $dg-primary;
            }
        }

        .item-content {
            display: block;
            margin: 0 -1000px;
            padding: $dg-sidebar-menu-item-space-y 1000px;
        }

        .subtitle {
            color: $dg-gray-600;
            font-size: $dg-font-size-sm;
            margin-left: 4px;
        }

        &:hover {
            a {
                color: $dg-primary;
                text-decoration: none;
            }
        }
    }
}

.dg-sidebar {
    .dg-sidebar-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid $dg-gray-210;

        .logo {
            width: 80px;
            height: 80px;
        }

        .title {
            font-weight: 500;
            color: $dg-body-color;
            font-size: $dg-font-size-lg;
            padding: 5px 0px;
        }

        .description {
            color: $dg-gray-700;
            padding: 5px 10px;
        }
    }

    .action-items {
        border-top: 1px solid $dg-gray-210;

        .action-item {
            padding: 10px 30px;
        }
    }
}
