:root {
    --dg-gray-10: #fff;
    --dg-gray-80: #f3f3f3;
    --dg-gray-90: #f3f5f7;
    --dg-gray-100: #f6f8fa;
    --dg-gray-200: #eee;
    --dg-gray-300: #ddd;
    --dg-gray-400: #cacaca;
    --dg-gray-500: #aaa;
    --dg-gray-600: #999;
    --dg-gray-700: #666;
    --dg-gray-800: #333;

    --dg-bg-color: #fff;
    --dg-bg-banner: #dae6f3;

    --dg-text-color: #333;
    --dg-text-1: #1e3042;

    --dg-box-shadow-1: 0 8px 24px -2px rgba(0, 0, 0, 0.05);
    --dg-box-shadow-2: 0 4px 10px rgba(0, 0, 0, 0.1);
}

:root[theme='dark'] {
    --dg-gray-10: #2a2e34;
    --dg-gray-80: #393e46;
    --dg-gray-90: #3c414a;
    --dg-gray-100: #393e46;
    --dg-gray-200: #3c414a;
    --dg-gray-300: #464c57;
    --dg-gray-400: #5b6370;
    --dg-gray-500: #666e7d;
    --dg-gray-600: #6f7a8a;
    --dg-gray-700: #87909e;
    --dg-gray-800: #bcc4d1;

    --dg-bg-color: #2a2e34;
    --dg-bg-banner: #303640;

    --dg-text-color: #bcc4d1;
    --dg-text-1: #bcc4d1;

    --dg-box-shadow-1: 0 4px 10px -2px rgba(0, 0, 0, 0.15);
    --dg-box-shadow-2: 0 4px 10px rgba(0, 0, 0, 0.1);
}
