$dg-primary: #6698ff !default;
$dg-primary-light: #246eff;
$dg-success: #73d897 !default;
$dg-info: #5dcfff !default;
$dg-warning: #ffcd5d !default;
$dg-danger: #ff7575 !default;
$dg-white: #fff !default;
$dg-black: #000 !default;

$dg-gray-10: var(--dg-gray-10) !default;
$dg-gray-80: var(--dg-gray-80) !default;
$dg-gray-90: var(--dg-gray-90) !default;
$dg-gray-100: var(--dg-gray-100) !default;
$dg-gray-200: var(--dg-gray-200) !default;
$dg-gray-300: var(--dg-gray-300) !default;
$dg-gray-400: var(--dg-gray-400) !default;
$dg-gray-500: var(--dg-gray-500) !default;
$dg-gray-600: var(--dg-gray-600) !default;
$dg-gray-700: var(--dg-gray-700) !default;
$dg-gray-800: var(--dg-gray-800) !default;

$dg-bg-color: var(--dg-bg-color) !default; // 主背景色
$dg-text-color: var(--dg-text-color) !default; // 主文字色

$dg-yiq-contrasted-threshold: 180 !default;
$dg-yiq-text-dark: $dg-gray-800 !default;
$dg-yiq-text-light: $dg-white !default;
$dg-enable-gradients: false !default;
$dg-enable-shadows: true !default;
$dg-enable-rounded: true !default;

$dg-border-color: $dg-gray-200 !default;
$dg-border-radius: 4px !default;

$dg-theme-colors: () !default;
$dg-theme-colors: map-merge(
    (
        'primary': $dg-primary,
        'primary-light': $dg-primary-light,
        'success': $dg-success,
        'info': $dg-info,
        'warning': $dg-warning,
        'danger': $dg-danger,
        'light': $dg-gray-300,
        'dark': $dg-gray-700,
    ),
    $dg-theme-colors
);

$dg-grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

$dg-spacer: 1rem !default;
$dg-spacers: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
$dg-spacers: map-merge(
    (
        0: 0,
        1: (
            $dg-spacer * 0.25,
        ),
        2: (
            $dg-spacer * 0.5,
        ),
        3: $dg-spacer,
        4: (
            $dg-spacer * 1.5,
        ),
        5: (
            $dg-spacer * 3,
        ),
    ),
    $dg-spacers
);

$dg-line-height: 1.5715 !default;

$dg-code-bg-color: $dg-gray-90 !default;

// link
$dg-link-hover-decoration: none !default;

// font
$dg-font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    PingFang SC,
    Helvetica Neue,
    Noto Sans,
    Noto Sans CJK SC,
    Microsoft Yahei,
    Arial,
    Hiragino Sans GB,
    sans-serif !default;
$dg-font-size-base: 0.875rem !default; // 14px
$dg-font-size-md: 1rem !default; // 16px
$dg-font-size-lg: 1.25rem !default; // 20px
$dg-font-size-sm: 0.75rem !default; // 12px
$dg-font-size-max-lg: 3.25rem !default; // 补充字体大小 52px
$dg-font-size-xs: 0.625rem !default; // 10px
$dg-font-size-xlg: 1.5rem !default; // 24px

// dropdown
$dg-dropdown-box-shadow: var(--dg-dropdown-box-shadow) !default;

// navbar
$dg-navbar-height: 60px !default;
$dg-navbar-action-bg-color: var(--dg-gray-80) !default;

// default theme
$dg-navbar-background-default: $dg-bg-color;
$dg-navbar-box-shadow-default: var(--dg-navbar-box-shadow) !default;
$dg-navbar-color-default: $dg-text-color;

// angular theme
$dg-navbar-background-angular: #3f51b5 !default;
$dg-navbar-box-shadow-angular:
    0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12) !default;
$dg-navbar-color-angular: $dg-white !default;

$dg-hero-background: var(--dg-hero-banner-bg-color) !default;
$dg-hero-launch-title-color: var(--dg-hero-launch-title-color) !default;

// sidebar
$dg-sidebar-item-indent: 10px !default;
$dg-sidebar-menu-item-space-x: 30px !default;
$dg-sidebar-menu-item-space-y: 9px !default;

// button
$dg-btn-border-width: 1px !default;
$dg-btn-padding-y: 6px !default;
$dg-btn-padding-x: 10px !default;
$dg-btn-font-size: $dg-font-size-md !default;
$dg-btn-line-height: $dg-line-height !default;
$dg-btn-border-radius: 4px !default;
$dg-btn-padding-y-xsm: 0.5px !default;
$dg-btn-padding-x-xsm: 10px !default;
$dg-btn-font-size-xsm: $dg-font-size-md !default;
$dg-btn-line-height-xsm: $dg-line-height !default;
$dg-btn-border-radius-xsm: 4px !default;
$dg-btn-padding-y-sm: 2.5px !default;
$dg-btn-padding-x-sm: 10px !default;
$dg-btn-font-size-sm: $dg-font-size-md !default;
$dg-btn-line-height-sm: $dg-line-height !default;
$dg-btn-border-radius-sm: 4px !default;
$dg-btn-padding-y-md: 4.5px !default;
$dg-btn-padding-x-md: 10px !default;
$dg-btn-font-size-md: $dg-font-size-md !default;
$dg-btn-line-height-md: $dg-line-height !default;
$dg-btn-border-radius-md: 4px !default;
$dg-btn-padding-y-lg: 6.5px !default;
$dg-btn-padding-x-lg: 10px !default;
$dg-btn-font-size-lg: $dg-font-size-md !default;
$dg-btn-line-height-lg: $dg-line-height !default;
$dg-btn-border-radius-lg: 4px !default;
$dg-btn-padding-y-xlg: 8.5px !default;
$dg-btn-padding-x-xlg: 30px !default;
$dg-btn-font-size-xlg: $dg-font-size-md !default;
$dg-btn-line-height-xlg: $dg-line-height !default;
$dg-btn-border-radius-xlg: 4px !default;
$dg-btn-disabled-opacity: 0.6 !default;
$dg-btn-box-shadow: none !default;
$dg-btn-focus-box-shadow: none !default;
$dg-btn-focus-width: 0.2rem !default;
