$primary: #348fe4;

$color-body: #333;
$white: #fff;
$black: #000;


$link-hover-decoration: none;

$navbar-height: 60px;
$navbar-background: $primary;
$navbar-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
$navbar-color: $white;

$launch-background: $white;

// $navbar-background: $white;
// $navbar-box-shadow: 0 8px 24px -2px rgba(0,0,0,.05);
// $navbar-color: $black;

// $launch-background: #f5f6f8;
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
