$dg-primary: #348fe4 !default;
$dg-success: #66c060 !default; // 2dbcff
$dg-info: #2dbcff !default;
$dg-warning: #ffc442 !default;
$dg-danger: #ff5b57 !default;

$dg-gray-80: #f3f3f3 !default;
$dg-gray-100: #f6f8fa !default;
$dg-gray-200: #eee !default;
$dg-gray-210: #e9e9e9 !default;
$dg-gray-300: #ddd !default;
$dg-gray-400: #cacaca !default;
$dg-gray-500: #aaa !default;
$dg-gray-600: #888 !default;
$dg-gray-700: #666 !default;
$dg-gray-800: #333 !default;
$dg-body-color: #333 !default;
$dg-white: #fff !default;
$dg-black: #000 !default;
$dg-body-bg: $dg-white !default;

$dg-yiq-contrasted-threshold: 180 !default;
$dg-yiq-text-dark: $dg-gray-800 !default;
$dg-yiq-text-light: $dg-white !default;
$dg-enable-gradients: false !default;
$dg-enable-shadows: true !default;
$dg-enable-rounded: true !default;

$dg-border-color: #eee !default;
$dg-border-radius: 4px !default;

$dg-theme-colors: () !default;
$dg-theme-colors: map-merge(
    (
        'primary': $dg-primary,
        'success': $dg-success,
        'info': $dg-info,
        'warning': $dg-warning,
        'danger': $dg-danger,
        'light': $dg-gray-300,
        'dark': $dg-gray-700
    ),
    $dg-theme-colors
);

$dg-grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$dg-line-height: 1.5715 !default;

// link
$dg-link-hover-decoration: none !default;

// font
// $font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
//         'Segoe UI Symbol';
$dg-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Helvetica Neue, Noto Sans, Noto Sans CJK SC,
    Microsoft Yahei, Arial, Hiragino Sans GB, sans-serif !default;
$dg-font-size-base: 0.875rem !default; // 14px
$dg-font-size-md: 1rem !default; // 16px
$dg-font-size-lg: 1.25rem !default; // 20px
$dg-font-size-sm: 0.75rem !default; // 12px
$dg-font-size-max-lg: 3.25rem !default; // 补充字体大小 52px
$dg-font-size-xs: 0.625rem !default; // 10px
$dg-font-size-xlg: 1.5rem !default; // 24px

// navbar
$dg-navbar-height: 60px !default;

// default theme
$dg-navbar-background-default: $dg-white;
$dg-navbar-box-shadow-default: 0 8px 24px -2px rgba(0,0,0,.05);
$dg-navbar-color-default: $dg-body-color;

// angular theme
$dg-navbar-background-angular: #3f51b5 !default;
$dg-navbar-box-shadow-angular: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !default;
$dg-navbar-color-angular: $dg-white !default;


$launch-background: #f5f6f8;

$dg-launch-background: $dg-white !default;


// sidebar
$dg-sidebar-menu-item-padding: 9px 30px !default;

// button
$dg-btn-border-width: 1px !default;
$dg-btn-padding-y: 6px !default;
$dg-btn-padding-x: 10px !default;
$dg-btn-font-size: $dg-font-size-base !default;
$dg-btn-line-height: $dg-line-height !default;
$dg-btn-border-radius: 4px !default;
$dg-btn-padding-y-sm: 2px !default;
$dg-btn-padding-x-sm: 10px !default;
$dg-btn-font-size-sm: $dg-font-size-base !default;
$dg-btn-line-height-sm: $dg-line-height !default;
$dg-btn-border-radius-sm: 3px !default;
$dg-btn-disabled-opacity: 0.6 !default;
$dg-btn-box-shadow: none !default;
// $dg-btn-box-shadow: inset 0 1px 0 rgba($dg-white, 0.15), 0 1px 1px rgba($dg-black, 0.075) !default;
$dg-btn-focus-box-shadow: none !default;
$dg-btn-focus-width: 0.2rem !default;
