.dg-source-code {
    display: block;
    padding: 10px 20px;
    background: $dg-gray-100;
    white-space: nowrap;
    margin: 0px;
    height: 0px;
    position: relative;

    .dg-source-code-content {
        white-space: break-spaces;
        padding: 10px 0px;
        font-size: $dg-font-size-base;
    }

    .dg-copy {
        position: absolute;
        top: 1em;
        right: 1.1em;
        color: $dg-gray-500;
        &:hover {
            color: $dg-primary;
        }
    }
}
